# Dependencies
node_modules

# Build outputs
dist
build
.next
out

# Coverage
coverage

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Environment
.env
.env.*
.env.local
.env.*.local

# IDE / OS
.idea/
.vscode/
.cursor/
*.swp
*.swo
.DS_Store
Thumbs.db

# Vite
*.local

# Docker
.git
.docker

# Tooling (não necessários na imagem)
.eslintrc*
.prettierrc
.prettierignore
*.tsbuildinfo
.cache

# Docs e desenvolvimento
docs
*.md
