# Postgres
POSTGRES_USER=allu
POSTGRES_PASSWORD=allu
# db quando for dentro do container e localhost quando for fora
POSTGRES_HOST=db
POSTGRES_DB=allu
DATABASE_URL=postgresql://allu:allu@localhost:5432/allu

# Services
CART_PORT=3001
CATALOG_PORT=3002
SEARCH_PORT=3003

LOG_LEVEL=info

# Frontend
FRONTEND_PORT=5173

# Vite API
VITE_CART_API_URL=http://localhost:3001
VITE_CATALOG_API_URL=http://localhost:3002
VITE_SEARCH_API_URL=http://localhost:3003
